<div data-bind="event: { scroll: HandleScroll }" id="InventoryLookupList" style="position: absolute; top: 148px; right: 0; bottom: 0; left: 0;">
    <div *ngIf="IsSearching" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
        <div style="position: absolute; top: 40%; left: 45%; text-align: center">
            <img src="/app/Images/progress.gif" alt="Progress..." />
            <p>Please wait...</p>
        </div>
    </div>
    <div *ngIf="!IsSearching">
        <div *ngFor="let Record of Vehicles" style="padding: 5px;">
            <div class="VehicleListRecord">
                <div class="VehicleDetails">
                    <div class="SelectVehicle">
                        <div (click)="setVehicleSelectedStatus(Record)" style="cursor: pointer; height: 20px; width: 20px; position: relative; top: 30%;">
                            <img *ngIf="!Record.IsSelected" src="/app/images/InventoryLookup.Add.png" height="22" width="22" alt="Add">
                            <img *ngIf="Record.IsSelected" src="/app/images/InventoryLookup.Remove.png" height="22" width="22" alt="Remove">
                        </div>
                    </div>
                    <div class="VehicleImage" style="z-index: 999;">

                        <img *ngIf="!Record.ImagePrimary" class="VehicleImage" src="/app/images/InventoryLookup.Missing.png" alt="" style="max-height: 75px; max-width: 100px; z-index: 999;" />
                        <img *ngIf="!!Record.ImagePrimary" class="VehicleImage" [src]="Record.ImagePrimary" alt="" style="max-height: 75px; max-width: 100px; z-index: 999;" />
                    </div>
                    <div class="MakeModelYear" [title]="Record.Year+' '+Record.Make+' '+Record.Model">{{Record.Year}} {{Record.Make}} {{Record.Model}}</div>
                    <div class="VehicleInfo">
                        <!-- ReSharper disable Html.Obsolete -->
                        <table cellpadding="1" cellspacing="1" style="table-layout: fixed; width: 610px;">

                            <colgroup>
                                <col width="50">
                                <col width="80">
                                <col width="80">
                                <col width="95">
                                <col width="60">
                                <col width="85">
                                <col width="50">
                                <col width="*">
                            </colgroup>
                            <!-- ReSharper restore Html.Obsolete -->
                            <tbody>
                            <tr>
                                <td class="Label ms-crm-Field-Label-Print">Price&#58;</td>
                                <td class="Detail">
                                    <div class="text-overflow-ellipsis" [title]="Record.Price | currency:'USD':true">{{Record.Price | currency:'USD':true}}</div>
                                </td>
                                <td class="Label ms-crm-Field-Label-Print">Trim&#58;</td>
                                <td class="Detail">
                                    <div class="text-overflow-ellipsis" [title]="Record.Trim">{{Record.Trim}}</div>
                                </td>
                                <td class="Label ms-crm-Field-Label-Print">Stock &#35;&#58;</td>
                                <td class="Detail">
                                    <div class="text-overflow-ellipsis" [title]="Record.StockNumber">{{Record.StockNumber}}</div>
                                </td>
                                <td class="Label ms-crm-Field-Label-Print">Trans&#58;</td>
                                <td class="Detail">
                                    <div class="text-overflow-ellipsis" style="width: 80px;" [title]="Record.Transmission">{{Record.Transmission}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="Label ms-crm-Field-Label-Print">VIN&#58;</td>
                                <td class="Detail">
                                    <div class="text-overflow-ellipsis" [title]="Record.VIN">{{Record.VIN}}</div>
                                </td>
                                <td class="Label ms-crm-Field-Label-Print">Type&#58;</td>
                                <td class="Detail">
                                    <div class="text-overflow-ellipsis" [title]="Record.Type.Label">{{Record.Type.Label}}</div>
                                </td>
                                <td class="Label ms-crm-Field-Label-Print">Body&#58;</td>
                                <td class="Detail" colspan="3">
                                    <div class="text-overflow-ellipsis" [title]="Record.BodyStyle">{{Record.BodyStyle}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td class="Label ms-crm-Field-Label-Print">Ext. Color&#58;</td>
                                <td class="Detail">
                                    <div class="text-overflow-ellipsis" [title]="Record.ExteriorColor">{{Record.Exterior}}</div>
                                </td>
                                <td class="Label ms-crm-Field-Label-Print">Miles&#58;</td>
                                <td class="Detail" colspan="3">
                                    <div class="Mileage" [title]="Record.Odometer">{{Record.Odometer | number:'1.0-0'}} {{Record.OdometerUnit.Label}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td class="Label ms-crm-Field-Label-Print">Int. Color&#58;</td>
                                <td class="Detail">
                                    <div class="text-overflow-ellipsis" [title]="Record.InteriorColor">{{Record.Interior}}</div>
                                </td>
                                <td class="Label ms-crm-Field-Label-Print">Engine&#58;</td>
                                <td class="Detail">
                                    <div class="text-overflow-ellipsis" [title]="Record.Engine">{{Record.Engine}}</div>
                                </td>
                                <td colspan="2" style="text-align: right;">
                                    <a data-bind="click: $root.ShowVehicleDetails.bind($root, $data, false), text: (!IsVehicleDetailVisible() ? 'Show Details' : 'Hide Details')"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>