<div class="form__control-group--actions--steps is-hidden@widescreen" style="position: absolute; left: 0; right: 5px; bottom: 0;">
    <a (click)="this.stepChange.emit(-1);" class="js-prev btn btn--small btn--secondary btn--back c-order-back" href="#" data-dpz-track-evt-pagename="Pizza Builder">
        <span>Back</span>
    </a>
    <a (click)="this.stepChange.emit(1);" class="js-next btn btn--small btn--next c-order-nextStep" href="#" data-dpz-track-evt-pagename="Pizza Builder">Add to Order</a>
</div>
<div id="toppingsWrapper" class="is-hidden grid toppings-list" style="display: block;">
    <div class="grid__cell--1">
        <h2 class="step-title">Toppings</h2>
    </div>
    <div class="product grid__cell--1/2@desktop grid__cell--1">
        <h3 class="section-title">Choose Meats</h3>
        <div class="grid">
            <div *ngFor="let t of _meatToppings" class="toppingColumn grid__cell--1/2@desktop grid__cell--1">
                <div class="topping">
                    <label class="form__control-group--toggle">
                        <input #Value type="checkbox" class="selectTopping c-topping-P topping-P" name="S_PIZZA|Topping|P" >
                        <span class="btn--toggle">{{t.Label}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="product grid__cell--1/2@desktop grid__cell--1" style="border: 0px;">
        <h3 class="section-title">Choose Non-meats</h3>
        <div class="grid">
            <div *ngFor="let t of _nonmeatToppings" class="toppingColumn grid__cell--1/2@desktop grid__cell--1">
                <div class="topping">
                    <label class="form__control-group--toggle">
                        <input #Value type="checkbox" class="selectTopping c-topping-P topping-P" name="S_PIZZA|Topping|P" >
                        <span class="btn--toggle">{{t.Label}}</span>
                    </label>
                </div>
            </div>           
        </div>
    </div>
</div>